*{
    text-align: center;
    background-color:brown;
    color:yellow;
    font-family: Calibri;
}

div a{
    color:limegreen;
    text-decoration: none;
}

.home{
    color: blue
}

img {
    object-fit:cover;
    width: 500px;
    height:500px;
}

#mytitle{
    text-decoration: underline;
}

